*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

#input{
    width: 243px;
    height: 35px;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}


.dinamic-list{
    max-width: 500px;
    min-width: 500px;
    flex-direction: column;
    height: 70vh;
    background-color: #ECF0F1;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    margin: 0, 20px, 0, 20px;
}



.list-container > li{
    /* margin-bottom: 15px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
    list-style: none;
}

#btn{
    width: 243px;
    height: 46px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover{
    background-color: #EA2027;
}

.icon{
    width: 25px;
    height: 25px;
}

.list{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.checkmark, .close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.checkmark{
    color:green;
}

.close{
    color: red;
}


.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    align-content: center;
}

.icons{
    min-width: 102px;
    display: flex;
}